.stock-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix {
    right: 12px;
}

.stock-search-dropdown .ant-select-dropdown-menu-item-group-title {
    color: #666;
    font-weight: bold;
}

.stock-search-dropdown .ant-select-dropdown-menu-item-group {
    border-bottom: 1px solid #f6f6f6;
}

.stock-search-dropdown .ant-select-dropdown-menu-item {
    padding-left: 16px;
}

.stock-search-dropdown .ant-select-dropdown-menu-item.show-all {
    text-align: center;
    cursor: default;
}

.stock-search-dropdown .ant-select-dropdown-menu {
    max-height: 300px;
}

.stock-search-name {
    position: absolute;
    color: #999;
    right: 16px;
}

.stock-search.ant-select-focused .stock-search-icon {
    color: #108ee9;
}

.stock-search-icon {
    color: #6e6e6e;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 16px;
}

.stock-search-container {
    width: 500px;
    margin-left: 150px;
    margin-top: 40px;
}

.ant-select-search__field {
    background: rgb(59,59,60) !important;
}

.ant-select-search__field input {
    color: white !important;
    border-color: #35C59B !important;
}

.ant-select-dropdown-menu {
    background: rgb(59,59,60) !important;
}

.ant-select-dropdown-menu li {
    color: white !important;
}

.ant-select-dropdown-menu-item-active * {
    color: #35C59B !important;
}

.ant-select-search__field__wrap {
    background: #1D1D1E !important;
}